<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <span class="label label-success">Success</span>
    </div>
    <div class="span10">
      <!--Body content-->
      <form>
      <fieldset>
        <legend>Legend</legend>
        <label>Add things to do...</label>
        <input type="text" placeholder="Type something…">
        <span class="help-block">Example block-level help text here.</span>
        <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>