<% if (!locals.user) { %>
<div class="hero-unit">
	<h1>欢迎使用MyTodo</h1>
	<p>MyTodo是一个简单易用的GTD系统</p>
	<p>
		<a class="btn btn-primary btn-large" href = '/login'>登陆</a>
		<a class="btn btn-large" href = "/reg">立即注册</a>
	</p>
</div>

<% } else { %>
<% include content%>
<% } %>


<script type="text/javascript">
  $(document).ready(function() {
  	$("#home").addClass("active");
  });
</script>

