<div class = "tile bg-color-blue">
  <div class = "tile-content">
  <p><%= todoitem.content%></p>
  
  </div>
  <div class = "brand">
  <span class="win8name"><%= todoitem.date%></span>
  
  </div>
</div>